<div class="row">
	<div class="col s12">
		<h3 class="left-align green-text lighten-1">Tableau des scores</h3>
	</div>
	<div class="col s6">
		<table>
			<thead>
				<tr>
					<th>Utilisateur</th>
					<th>Score</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="scores in score.scores">
					<td>{{scores.from}}</td>
					<td>{{scores.content}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col s6">
		<img class="responsive-img" src="/app/img/alldrunk.jpg" alt="scores illustration">
	</div>
</div>
